{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
<a href="{% url 'admin:index' %}">Главная</a>
&rsaquo; Подтверждение сброса пароля
</div>
{% endblock %}

{% block title %}
Подтверждение сброса пароля
{% endblock %}
{% block content_title %}
<h1>Подтверждение сброса пароля</h1>
{% endblock %}
{% block content %}

{% if validlink %}

<p class="text-center">Введите новый пароль дважды, чтобы мы могли удостовериться, что Вы ввели его правильно</p>

<form action="" method="post">
{% csrf_token %}
 <span class="text-danger">Новый пароль</span>
 <p class="aligned wide">
  <label for="id_new_password1">{% trans 'New password:' %}</label>
{{ form.new_password1 }}
 </p>
 <span class="text-danger">{{ form.new_password2.errors }}</span>
 <p class="aligned wide">
  <label for="id_new_password2">Пароль еще раз</label>
 {{ form.new_password2 }}
 </p>
<p class="text-center"><input class="btn btn-default" type="submit" value="Сменить пароль" /></p>
</form>

{% else %}

<p class="lead text-center text-danger">Ссылка для сброса пароля недействительна, возможно, потому что она уже использьзовалась Вами. Пожалуйста, запросите новый сброс пароля.</p>

{% endif %}

{% endblock %}
