{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
<a href="{% url 'admin:index' %}">Главная</a>
&rsaquo; Сброс пароля
</div>
{% endblock %}

{% block title %}Сброс пароля{% endblock %}
{% block content_title %}
<h1>Сброс пароля</h1>
{% endblock %}
{% block content %}

<p class="lead text-center">Забыли пароль? Введите адрес E-mail и следуйте дальнейшей инструкции.</p>

<form action="" method="post">
{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Email адрес:</label> 
{{ form.email }} 
<input type="submit" class="btn btn-default" value="Сбросить пароль" /></p>
</form>

{% endblock %}
