{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
<a href="{% url 'admin:index' %}">Главная</a>
&rsaquo; Сброс пароля
</div>
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}
{% block content_title %}
<h1>Сброс пароля</h1>
{% endblock %}

{% block content %}
<p class="lead text-center">Новый пароль успешно сохранен, Вы можете войти на сайт.</p>
<p class="text-center"><a href="{{ login_url }}" class="btn btn-success">Войти на сайт</a></p>
{% endblock %}
