{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
<a href="{% url 'admin:index' %}">Главная</a>
&rsaquo; Сброс пароля
</div>
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}
{% block content_title %}
<h1>Сброс пароля</h1>
{% endblock %}
{% block content %}
<div class="text-center lead">
<p>На Ваш адрес E-mail отправлено письмо с дальнейшими инструкциями по сбросу пароля.</p>
<p>Если вы не получили письмо, пожалуйста, убедитесь, что Вы ввели адрес с которым Вы зарегистрировались, а также проверьте папку со спамом.</p>
</div>
{% endblock %}
