{% load i18n %}
{% autoescape off %}
{% blocktrans %}
Вы получили это письмо, потому что запросили сброс пароля для учетной записи пользователя на сайте {{ site_name }}.
{% endblocktrans %}

Пожалуйста, перейдите на страницу для выбора нового пароля
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Ваше имя пользователя {{ user.get_username }}


{% blocktrans %}
Администрация {{ site_name }}
{% endblocktrans %}

{% endautoescape %}
