{% extends 'main.html' %}
{% block content %}
 <div class="container cntp">
 <div class="row">
   <div class="col-sm-12 text-center">
    <p>{{ message }}</p>
   </div>
  </div>
  <h2>Сервис временно закрыт на техосблуживание</h2>
  <h3>Извините за неудобства</h3>
  <!--<h2>Наш сервис подстегнет бурный рост Ваших сообществ</h2>
  <h3>А Вам освободит уйму времени</h3>-->
   <p class="lead"><br />
    <!--<a href="https://oauth.vk.com/authorize?client_id={{ ID_APP }}&display=page&redirect_uri={{ DOMAIN }}&scope=offline,groups&state=registration&v=5.60" class="btn btn-lg btn-success">
     <b>ХОЧУ УЧАСТВОВАТЬ</b>-->
    </a>
   </p>
 </div>
  <div class="dbtn">
<a href="#b2" class="hmbtf btn-info"><span>подробнее</span></a>
  </div>
{% endblock %}