{% extends 'publ.html' %}
{% block content %}
<div class="container cntp">
<div class="b_rs">
<div class="text-center">
 <h2>Как попасть в список повторно</h2>
</div>
 <div class="cnt_t">
 <p class="text-center">Чтобы попасть в список повторно Вам необходимо пригласить нового участника. Один из примеров описан ниже.</p>
<div class="text-center">
 <h3>Как приглашать</h3>
</div>
 <p>Идем в любую пиар группу находим человека, который вступает взаимно.</p>
 <ul>
  <li>Спрашиваем у него: «Хотите подписчиков бесплатно?»</li>
  <li>Он отвечает: «Да»</li>
 </ul>
 <p>В ответ Вы ему скидываете примерно следующий текст:</p>
 <ul>
  <li>«Появился сервис который работает так: Вступаете во все группы, которые Вам предложит сервис. После этого Вы попадаете на первое место в списке. Когда придет следующий участник и вступит во все группы списка (в том числе и в Вашу) - он занимает первую позицию, а Вы сдвигаетесь на второю и так до тех пор, пока Вы не выпадете из списка. Таким образом, подписчики Вам ГАРАНТИРОВАНЫ. Если интересно, то вот ссылка на этот ресурс»</li>
 </ul>
 <p>И передаете свою ссылку для приглашений с личной странички сайта.</p>
 </div>
</div>
</div>
{% endblock %}