{% extends 'publ.html' %}
{% block content %}
<div class="container cntp">
<div class="b_rs">
<div class="text-center">
 <h2>Партнерам</h2>
</div>
 <div class="cnt_t">
  <p>Людям, которые не имеют возможности приглашать, но заинтересованы в качественном и быстром росте собственных сообществ, предлагаем стать партнерами сервиса Livsa.ru. Для этого свяжитесь с <a href="https://vk.com/id147661729" target="blank">администратором сайта</a>, он подскажет о наличии свободных мест.</p> 
  <p class="text-center lead">Стоимость размещения Вашей ссылки на двое суток - <span class="text-danger"><b>всего 100 рублей</b></span>.</p>
  <p><b>Что вы получите став партнером:</b></p>
<ul>
<li>Ваша группа двое суток участвует в списке;</li>
<li>Прирост участников - около 100 в сутки;</li>
<li>Гарантии ЖЕЛЕЗНЫЕ! Если Вы не получили заявленое число подписчиков, Вы автоматически получаете дополнительные сутки.</li>
</ul>
 </div>
 <h3 class="text-center">О сервисе</h3>
  <div class="cnt_t">
  <p>Данный сервис не является коммерческим, так как не имеет в качестве своей основной цели деятельности извлечение прибыли. Основная миссия сайта livsa.ru взаимная помощь в развитии групп пользователей социальной сети. Сайт целиком состоит из добровольно вступивших пользователей. Весь функционал сайта имеет возможность бесплатного использования. Все собранные средства признаются добровольным пожертвованием организаторам и разработчикам сайта для продолжения деятельности, развития или доработки полезных сервисов и обеспечения работоспособности сайта livsa.ru.</p>
   </div>
</div>
</div>
{% endblock %}