{% extends 'publ.html' %}
{% block content %}
<div class="container cntp">
<div class="b_rs">
<div class="text-center">
 <h2>Описание работы сервиса</h2>
</div>
 <div class="cnt_t">
   <p>1) Вступите во все группы, которые Вам предложит сервис и Вы попадете <b>на первое место</b> в списке. Когда придет следующий участник и вступит во все группы (в том числе и в Вашу) он занимает первую позицию, а Вы сдвигаетесь на вторую. И так до выпадания из последней строчки списка. Таким образом, подписчики Вам <b>ГАРАНТИРОВАНЫ</b>.</p>
   <p>2) В список можно попадать не ограниченное количество раз, но выходить из групп <b class="text-danger">НЕЛЬЗЯ</b>! Наказание последует <b>автоматически</b> и <b>мгновенно</b>.</p>
   <p>3) Чтобы попасть в список еще раз, Вам необходимо пригласить нового участника. Для этого используйте свою ссылку для приглашений. Чем больше пригласили - тем больше получили. Рекомендуем приглашать от 3-х человек в день.</p>
   <p>4) Если Вы пригласите 2 и более участников за раз, за Вами образуется <b>очередь</b>. Как только Вы выпадете из списка, Вы снова <b>вернетесь в начало</b> за своих накопленных приглашенных.</p>
   <p>5) После того как Вы пройдете первый круг и начнете приглашать, Вам вступать уже не нужно. Вы просто приглашаете новых участников и получаете ежедневных подписчиков!</p>
   <p><b>ВНИМАНИЕ</b>: Засчитываются только те приглашенные, кто перешел по Вашей ссылке и вступил во все группы списка.</p>
   <p>Для Вашего удобства есть возможность в любой момент <b>сменить группу</b>, которую Вы продвигаете.</p>
   <p>Для этого необходимо снова вступить по списку и ввести ссылку или ID группы.</p>
 </div>
{% if widget %}
   <p>Нажимая кнопку «Согласен» Вы обязуетесь НЕ добавлять в сервис Livsa RU группы с содержимым нарушающим законодательство РФ и общепринятые нормы этики. Ответственность за распространение незаконной информации лежит на пользователе ВК добавляющем в сервис ссылку на группу!</p>
 <div class="text-right">
  <form method="post">
{% csrf_token %}
  <div class="input_may">
   <input type="submit" name="accept" class="btn btn-primary" value="Согласен" />
  </div>
   <input type="hidden" name='uid' value={{ post_uid }} />
   <input type="hidden" name="hash" value={{ post_hash }} />
  </form>
 </div>
{% endif %}
</div>
</div>
{% endblock %}